<a href="https://colab.research.google.com/github/poolaNaveen/PySpark/blob/main/pyspark8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating RDD's

# Query 1

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('rdd_test').getOrCreate()
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6])
print(rdd.collect())
# Paralleize: convert a python list into an RDD that spark can distribute across clusters.
#collect() Brings all RDD data bavk to the driver.

[1, 2, 3, 4, 5, 6]

Query 2

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('rdd').getOrCreate()
rdd1 = spark.sparkContext.parallelize([1,2,3,4,5,5,6])
print(rdd1.collect())

[1, 2, 3, 4, 5, 5, 6]

Query 3

In [11]:
rdd2 = spark.sparkContext.parallelize([1,2,3,4,5,6,7,8])
result = rdd2.map(lambda x: x*2)
print(result.collect())
# map()applies the function x * 2 to every element in the RDD.

[2, 4, 6, 8, 10, 12, 14, 16]

In [12]:
rdd3 = spark.sparkContext.parallelize([1,3,4,6,6,7,8,9])
result = rdd3.map(lambda x: x* 2)
print(result.collect())

[2, 6, 8, 12, 12, 14, 16, 18]

In [13]:
rdd4 = spark.sparkContext.parallelize([2,4,6,8,10])
result = rdd4.map(lambda x: x*2)
print(result.collect())

[4, 8, 12, 16, 20]

In [18]:
rdd5 = spark.sparkContext.parallelize([2,4,5,8,10])
even = rdd5.filter(lambda x: x % 2==0)
print(even.collect())
#Filter() keeps only those elements that "True" in the condition.

[2, 4, 8, 10]

In [19]:
rdd = spark.sparkContext.parallelize([2,4,5,6,7,7,8,9,10])
result = rdd.filter(lambda x: x%2 == 0)
print(result.collect())

[2, 4, 6, 8, 10]