DF

ways to create

3 ways

1. createDataFrame
2. converting RDD
3. data source


===============

txt/csv file  ==> 1 GB
parquet == > 50-60% 400MB - 450MB   ==> columnar based file format
avro    == > 40-50% 550MB - 600MB   ==> row based file format
ORC     == > 90-95% 100Mb - 150MB   ==> columnar based file format



select city, min(salary), avg(salary) from employees group by city



20 columns

1TB

columnar based
processing 1 column ==> 50GB

Row based
processing 1 column ==> 1TB


New%  --> startsWith

%New  --> endsWith

%New%  --> contains

In [2]:
#reading CSV file---> This is for small data
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql import SparkSession
Spark = SparkSession.builder.appName("practice").getOrCreate()
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
])
csv_df = Spark.read.format('csv').option('header','true').schema(schema).load("/content/customers-100.csv")
csv_df.show()

+---+---------------+
| id|           name|
+---+---------------+
|  1|DD37Cf93aecA6Dc|
|  2|1Ef7b82A4CAAD10|
|  3|6F94879bDAfE5a6|
|  4|5Cef8BFA16c5e3c|
|  5|053d585Ab6b3159|
|  6|2d08FB17EE273F4|
|  7|EA4d384DfDbBf77|
|  8|0e04AFde9f225dE|
|  9|C2dE4dEEc489ae0|
| 10|8C2811a503C7c5a|
| 11|216E205d6eBb815|
| 12|CEDec94deE6d69B|
| 13|e35426EbDEceaFF|
| 14|A08A8aF8BE9FaD4|
| 15|6fEaA1b7cab7B6C|
| 16|8cad0b4CBceaeec|
| 17|a5DC21AE3a21eaA|
| 18|F8Aa9d6DfcBeeF8|
| 19|F160f5Db3EfE973|
| 20|0F60FF3DdCd7aB0|
+---+---------------+
only showing top 20 rows

In [18]:
#parquet file ------> This type of files are used in the 6 - months data and aslo one year of data
#Its a column based storage
#Processing is very fast compare to ORC file.
from pyspark.sql import SparkSession
from pyspark.sql.types import *
Spark = SparkSession.builder.appName('pratice3').getOrCreate()
schema1 = StructType([
    StructField('id',IntegerType(),True),
    StructField('name',StringType(),True)
   ])
df2 = Spark.read.parquet("/content/data.parquet")
df2.show()

+--------+----------+--------+----------------+
|      id|     tdate|category|         product|
+--------+----------+--------+----------------+
|00000000|06-26-2011|Exercise|Gymnastics Rings|
|00000002|06-01-2011|Exercise|Gymnastics Rings|
+--------+----------+--------+----------------+

In [12]:
# ORC file reading
# It is used for Historical data.
# Maximum file compression will happend here only compare to parquet file.
# processing file is to late compare to parquet.
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('pratice4').getOrCreate()
df3 = spark.read.orc("/content/data.orc")
df3.show()

+----------+---------+--------------------+------------------+-----------+----------+-----+-----+---+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|           address|       city|    county|state|  zip|age|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+------------------+-----------+----------+-----+-----+---+------------+------------+--------------------+--------------------+
|   Solange|   Shinko|   Mosocco, Ronald A|       426 Wolf St|   Metairie| Jefferson|   LA|70002| 21|504-979-9175|504-265-8174|  solange@shinko.com|http://www.mosocc...|
|    Arlene|  Klusman|Beck Horizon Buil...|        3 Secor Rd|New Orleans|   Orleans|   LA|70112| 20|504-710-5840|504-946-1807|arlene_klusman@gm...|http://www.beckho...|
|     Larae|   Gudroe|Lehigh Furn Divsn...| 6651 Municipal Rd|      Houma|Terrebonne|   LA|70360| 33|985-890-7262|985-261-5783|larae_gudroe@gmai...|http://www.lehigh...|
| Willodean|Konopacki|            Magnuson| 55 Hawthorne Blvd|  Lafayette| Lafayette|   LA|70506| 22|337-253-8384|337-774-7564|willodean_konopac...|http://www.magnus...|
|  Terrilyn|Rodeigues|      Stuart J Agins|    3718 S Main St|New Orleans|   Orleans|   LA|70130| 33|504-463-4384|504-635-8518|terrilyn.rodeigue...|http://www.stuart...|
|  Kayleigh|     Lace|Dentalaw Divsn Hl...|43 Huey P Long Ave|  Lafayette| Lafayette|   LA|70508| 11|337-740-9323|337-751-2326|kayleigh.lace@yah...|http://www.dental...|
|     Jutta|    Amyot|National Medical ...|      49 N Mays St|  Broussard| Lafayette|   LA|70518| 15|337-515-1438|337-991-8070|  jamyot@hotmail.com|http://www.nation...|
|  Cordelia| Storment|  Burrows, Jon H Esq|    393 Hammond Dr|  Lafayette| Lafayette|   LA|70506| 16|337-566-6001|337-255-3427|cordelia_storment...|http://www.burrow...|
+----------+---------+--------------------+------------------+-----------+----------+-----+-----+---+------------+------------+--------------------+--------------------+

In [11]:
#creating a dataframe and by using withColumn creating one more column for getting the status.
from pyspark import status
from pyspark.sql.functions import *
data = ((1, 'charan',28),(2,'dheeraj',17),(3,'ram',62))
columns = ['id','name','age']
df = Spark.createDataFrame(data,columns)
results = df.show
print(results)
results = df.withColumn('status',when(df.age <=17,'minor')\
                        .when((df.age >=18) & (df.age <=60),'major')\
                        .otherwise('senior'))
results.show()

<bound method DataFrame.show of DataFrame[id: bigint, name: string, age: bigint]>
+---+-------+---+------+
| id|   name|age|status|
+---+-------+---+------+
|  1| charan| 28| major|
|  2|dheeraj| 17| minor|
|  3|    ram| 62|senior|
+---+-------+---+------+

In [16]:
from pyspark import status
from pyspark.sql.functions import *
data = ((1, 'charan',28),(2,'dheeraj',17),(3,'ram',62))
columns = ['id','name','age']
df = Spark.createDataFrame(data,columns)
results = df.show
print(results)
results = df.withCo('status'when(df.age <=17,'minor')
.when((df.age >=18) & (df.age <=60),'adult')
.otherwise('senior'))

<bound method DataFrame.show of DataFrame[id: bigint, name: string, age: bigint]>
+---+-------+---+------+
| id|   name|age|status|
+---+-------+---+------+
|  1| charan| 28| adult|
|  2|dheeraj| 17| minor|
|  3|    ram| 62|senior|
+---+-------+---+------+