<a href="https://colab.research.google.com/github/poolaNaveen/PySpark/blob/main/pyspark_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#Flatten
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, array
from pyspark.sql import functions as F
spark = SparkSession.builder.appName('flatten').getOrCreate()
data = [('rcb',),('csk',),('mi',),('kkr',)]
df = spark.createDataFrame(data,['team'])
df2 = df.select(explode(array(df.team)).alias('team'))
df2.show()
df1 = df.alias('t1').crossJoin(df.alias('t2'))\
    .where(F.col('t1.team') != F.col('t2.team'))\
    .select(F.col('t1.team').alias('team1'), F.col('t2.team').alias('team2'))
df1.show
df1.printSchema()

+----+
|team|
+----+
| rcb|
| csk|
|  mi|
| kkr|
+----+

root
 |-- team1: string (nullable = true)
 |-- team2: string (nullable = true)

In [28]:
#Explode
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode
spark = SparkSession.builder.appName('explode').getOrCreate()
df1 = spark.read.format('json').load('/content/pyspark_sample.json')
df1.show()
df2 = df1.withColumn('exploded_array',explode('marks'))
df2.show()

+---+------------+--------------------+
| id|       marks|        nested_array|
+---+------------+--------------------+
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|
|  2|    [70, 75]|            [[5, 6]]|
+---+------------+--------------------+

+---+------------+--------------------+--------------+
| id|       marks|        nested_array|exploded_array|
+---+------------+--------------------+--------------+
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|            80|
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|            85|
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|            90|
|  2|    [70, 75]|            [[5, 6]]|            70|
|  2|    [70, 75]|            [[5, 6]]|            75|
+---+------------+--------------------+--------------+

In [32]:
#
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode
spark = SparkSession.builder.appName('explode').getOrCreate()
data = spark.read.format('json').load("/content/pyspark_sample.json")
df.show()
df2 = data.withColumn('explode_array',explode('marks'))
df2.show()

+---+------------+--------------------+
| id|       marks|        nested_array|
+---+------------+--------------------+
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|
|  2|    [70, 75]|            [[5, 6]]|
+---+------------+--------------------+

+---+------------+--------------------+-------------+
| id|       marks|        nested_array|explode_array|
+---+------------+--------------------+-------------+
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|           80|
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|           85|
|  1|[80, 85, 90]|[[10, 20], [30, 40]]|           90|
|  2|    [70, 75]|            [[5, 6]]|           70|
|  2|    [70, 75]|            [[5, 6]]|           75|
+---+------------+--------------------+-------------+

In [43]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode,col
spark = SparkSession.builder.appName('explode').getOrCreate()
df1= spark.read.option("multiline",True).format("json").load("/content/data1.son.txt")
df1.show()
df1.printSchema()
df2 = df1.withColumn('explode_array',explode('marks'))
df2.show()
df3 = df1.withColumn("subject",col("marks.subject"))\
         .withColumn("score",col("marks.score")) \
         .drop("marks")
df3.show()
df4 =

+-----+--------------------+-------+
|class|               marks|   name|
+-----+--------------------+-------+
|  10A|[{90, Math}, {85,...|  Alice|
|  10B|[{75, Math}, {80,...|    Bob|
|  10A|[{88, Math}, {90,...|Charlie|
|  10B|[{95, Math}, {92,...|  Diana|
+-----+--------------------+-------+

root
 |-- class: string (nullable = true)
 |-- marks: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- score: long (nullable = true)
 |    |    |-- subject: string (nullable = true)
 |-- name: string (nullable = true)

+-----+--------------------+-------+-------------+
|class|               marks|   name|explode_array|
+-----+--------------------+-------+-------------+
|  10A|[{90, Math}, {85,...|  Alice|   {90, Math}|
|  10A|[{90, Math}, {85,...|  Alice|{85, English}|
|  10A|[{90, Math}, {85,...|  Alice|{92, Science}|
|  10B|[{75, Math}, {80,...|    Bob|   {75, Math}|
|  10B|[{75, Math}, {80,...|    Bob|{80, English}|
|  10B|[{75, Math}, {80,...|    Bob|{95, Science}|
|  10A|[{88, Math}, {90,...|Charlie|   {88, Math}|
|  10A|[{88, Math}, {90,...|Charlie|{90, English}|
|  10A|[{88, Math}, {90,...|Charlie|{85, Science}|
|  10B|[{95, Math}, {92,...|  Diana|   {95, Math}|
|  10B|[{95, Math}, {92,...|  Diana|{92, English}|
|  10B|[{95, Math}, {92,...|  Diana|{89, Science}|
+-----+--------------------+-------+-------------+

+-----+-------+--------------------+------------+
|class|   name|             subject|       score|
+-----+-------+--------------------+------------+
|  10A|  Alice|[Math, English, S...|[90, 85, 92]|
|  10B|    Bob|[Math, English, S...|[75, 80, 95]|
|  10A|Charlie|[Math, English, S...|[88, 90, 85]|
|  10B|  Diana|[Math, English, S...|[95, 92, 89]|
+-----+-------+--------------------+------------+