<a href="https://colab.research.google.com/github/poolaNaveen/PySpark/blob/main/pyspark7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a simple dataframe
# 1. Query

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName("day8").getOrCreate()
df1 = [(1, 'naveen','blr'),
(2,'neeraj','hyd'),
(3,'vishnu','chennai')]
columns = ['id','name','city']
df2 = spark.createDataFrame(df1, columns)
df2.show()

+---+------+-------+
| id|  name|   city|
+---+------+-------+
|  1|naveen|    blr|
|  2|neeraj|    hyd|
|  3|vishnu|chennai|
+---+------+-------+

# 2. Query

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName("day8").getOrCreate()
data = [(101, "data engineer"),
        (201, "data science"),
        (301, "devops")]
columns = ["id", "Course_name"]
df3 = spark.createDataFrame(data,columns)
df3.show()

+---+-------------+
| id|  Course_name|
+---+-------------+
|101|data engineer|
|201| data science|
|301|       devops|
+---+-------------+

# Query 3

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('day8').getOrCreate()
data1 = [
( 'blr', 'metro City','karnataka'),
('hyd','metro city','TG'),
('amaravathi','rural city', 'Ap')]
columns = ['city_name', 'capital','state']
df4 = spark.createDataFrame(data1,columns)
df4.show()

+----------+----------+---------+
| city_name|   capital|    state|
+----------+----------+---------+
|       blr|metro City|karnataka|
|       hyd|metro city|       TG|
|amaravathi|rural city|       Ap|
+----------+----------+---------+

#Query 4

In [19]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName("day8").getOrCreate()
data2 = [('IT', 'Software'),
         ('HR','pannel'),
         ('Accounts','Admin')]
columns = ['dept_name','dept_head']
data3 = spark.createDataFrame(data2, columns)
data3.show()

+---------+---------+
|dept_name|dept_head|
+---------+---------+
|       IT| Software|
|       HR|   pannel|
| Accounts|    Admin|
+---------+---------+

#Query 5

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName("day8").getOrCreate()
data3 = [(1,'naveen','IT'),
          (2,'kamal','banking'),
         (3, 'vishnu','sales')
         ]
columns = ['id','name','dept']
data4 = spark.createDataFrame(data3,columns)
data4.show()

+---+------+-------+
| id|  name|   dept|
+---+------+-------+
|  1|naveen|     IT|
|  2| kamal|banking|
|  3|vishnu|  sales|
+---+------+-------+