In [8]:
from pyspark import SparkContext

sc = SparkContext("local", "RDD_revision")

In [ ]:
list1 = (1,2,3,4,5,6,7,8,9)
print(type(list1))
rdd1 = sc.parallelize(list1)
print(type(rdd1))
rdd2 = rdd1.filter(lambda x: x>=5)
print(rdd2.collect())

<class 'tuple'>
<class 'pyspark.rdd.RDD'>
[5, 6, 7, 8, 9]

In [ ]:
rdd1 = sc.parallelize([1, 2, 3, 4, 5])
rdd2 = rdd1.map(lambda x: x+10)
print(rdd2.collect())

[11, 12, 13, 14, 15]

In [ ]:
list2 = [1,2,3,4,6,7,7,8,8,]
rdd3 = sc.parallelize(list2)
rdd3.collect()
rdd4 = rdd3.sortBy(lambda x: x)
print('sorted descending')
rdd4.collect()

sorted descending

[1, 2, 3, 4, 6, 7, 7, 8, 8]

In [ ]:
rdd_sorted_asc = rdd.sortBy(lambda x: x)
print("Sorted ascending:", rdd_sorted_asc.collect())

In [ ]:
#collect()
#rdd.collect()# return all elements of an RDD
#df.collect()# return all elements of an DataFrame
#RDD is a distributed collection of elements
#Count()
#return the number of elements in RDD or rows
#rdd.count()
#df.count()

#==============================================

In [ ]:
rdd2 = rdd1.map(lambda a : a+10)
rdd2.collect()

[11, 12, 13, 14, 15]

In [ ]:
data = ['pyspark session is going on','rdd concept is started']
rdd1 = sc.parallelize(data)
rdd1.collect()
print('===flatMap output====')
rdd3 = rdd1.flatMap(lambda x :x.split())
rdd3.collect()
rdd3.saveAsTextFile('output')

===flatMap output====

In [ ]:
list1 = [34,5,6,7,8,8,89]
rdd = sc.parallelize(list1)
rdd.count()

7

In [ ]:
list = [3,6,7,8,8,8,6,8,4,6,9,32,4,7]
rdd = sc.parallelize(list)
rdd.collect()
rdd2 = rdd.sortBy(lambda x:x,ascending=False)
rdd2.collect()

[32, 9, 8, 8, 8, 8, 7, 7, 6, 6, 6, 4, 4, 3]

In [ ]:
list1 = [1,3,4,5,6,6,67,89,34]
rdd = sc.parallelize(list1)
result = rdd.fold(0,lambda x,y: x+y)
print(result)
print(type(result))

215
<class 'int'>

In [4]:
rdd = sc.textFile('/content/ADF Class.txt')
rdd.collect()

NameError: name 'sc' is not defined

In [ ]:
list1 = ['hello','world','students']
rdd = sc.parallelize(list1)
rdd.collect()
rdd.take(2)

['hello', 'world']

In [ ]:
list1 = ['hello','world','students','hello','world','students']
rdd=sc.parallelize(list1)
rdd1 = rdd.map(lambda x: (x,1))
rdd2 = rdd1.reduceByKey(lambda x,y: x+y)
rdd2.collect()

[('hello', 2), ('world', 2), ('students', 2)]

In [21]:
rdd1 = sc.textFile('/Alpha.txt')
print(type(rdd1))
print(rdd1.collect())
rdd2=rdd1.flatMap(lambda line: line.split())
print(rdd2.collect())
rdd3 = rdd2.map(lambda x: (x,1))
print(rdd3.collect())
rdd4 = rdd3.reduceByKey(lambda x,y: x+y)
print(rdd4.collect())
print(rdd4.toDebugString())

<class 'pyspark.rdd.RDD'>
['A B C D E F G H I J K L M N O P Q R S T U V W X Y Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
[('A', 1), ('B', 1), ('C', 1), ('D', 1), ('E', 1), ('F', 1), ('G', 1), ('H', 1), ('I', 1), ('J', 1), ('K', 1), ('L', 1), ('M', 1), ('N', 1), ('O', 1), ('P', 1), ('Q', 1), ('R', 1), ('S', 1), ('T', 1), ('U', 1), ('V', 1), ('W', 1), ('X', 1), ('Y', 1), ('Z', 1)]
[('A', 1), ('B', 1), ('C', 1), ('D', 1), ('E', 1), ('F', 1), ('G', 1), ('H', 1), ('I', 1), ('J', 1), ('K', 1), ('L', 1), ('M', 1), ('N', 1), ('O', 1), ('P', 1), ('Q', 1), ('R', 1), ('S', 1), ('T', 1), ('U', 1), ('V', 1), ('W', 1), ('X', 1), ('Y', 1), ('Z', 1)]
b'(1) PythonRDD[68] at collect at /tmp/ipython-input-202157235.py:9 []\n |  MapPartitionsRDD[67] at mapPartitions at PythonRDD.scala:160 []\n |  ShuffledRDD[66] at partitionBy at NativeMethodAccessorImpl.java:0 []\n +-(1) PairwiseRDD[65] at reduceByKey at /tmp/ipython-input-202157235.py:8 []\n    |  PythonRDD[64] at reduceByKey at /tmp/ipython-input-202157235.py:8 []\n    |  /Alpha.txt MapPartitionsRDD[61] at textFile at NativeMethodAccessorImpl.java:0 []\n    |  /Alpha.txt HadoopRDD[60] at textFile at NativeMethodAccessorImpl.java:0 []'

In [27]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('day1').getOrCreate()

+---+------+
| id|  name|
+---+------+
|  1|naveen|
|  2| kanna|
|  3|komala|
+---+------+

In [28]:
spark = SparkSession.builder.appName('day1').getOrCreate()
data = ((1, 'naveen'),(2,'kanna'),(3,'komala'))
columns = ['id','name']
df = spark.createDataFrame(data,columns)
df.show()

+---+------+
| id|  name|
+---+------+
|  1|naveen|
|  2| kanna|
|  3|komala|
+---+------+

In [29]:
data = ((1, 'naveen'),(2,'kanna'),(3,'komala'))
rdd = spark.sparkContext.parallelize(data)
columns = ['id','name']
df1 = spark.createDataFrame(rdd,columns)
df2 =rdd.toDF(columns)
df1.show()
df2.show()

+---+------+
| id|  name|
+---+------+
|  1|naveen|
|  2| kanna|
|  3|komala|
+---+------+

+---+------+
| id|  name|
+---+------+
|  1|naveen|
|  2| kanna|
|  3|komala|
+---+------+