<a href="https://colab.research.google.com/github/poolaNaveen/PySpark/blob/main/pyspark_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Count
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('day9').getOrCreate()
data = spark.sparkContext.parallelize([1,2,3,4,5,6])
result = data.reduce(lambda x,y:x+y)
print(result)

21

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('day9').getOrCreate()
data = spark.sparkContext.parallelize([
    (1,'naveen'),
    (2,'kamal'),
    (3,'babaulu'),
    (4,'lohith'),
    (1,'naveen'),
    (2,'kamal'),
    (3,'babaulu'),
    (4,'lohith'),
    (1,'naveen'),
    (2,'kamal'),
    (3,'babaulu'),
    (4,'lohith')

])
result = data.reduceByKey(lambda x,y: max(x,y))
print(result.collect())

[(2, 'kamal'), (4, 'lohith'), (1, 'naveen'), (3, 'babaulu')]

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('day9').getOrCreate()
data = spark.sparkContext.parallelize([


(1,'naveen',90),
(2,'kamal',78),
(3,'babaulu',99),
(4,'lohith',89),
])
result = data.filter(lambda x:x[2]>85)
print(result.collect())

[(1, 'naveen', 90), (3, 'babaulu', 99), (4, 'lohith', 89)]

In [ ]:
# filter
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName("day9").getOrCreate()
data = spark.sparkContext.parallelize([
    (1,'naveen','cse',90),
    (2,'kamal','cst',70),
    (3,'raju','eee',98),
    (4,'ramu','ece',89)

])
result = data.filter(lambda x:x[3]>78)
print(data.collect())

[(1, 'naveen', 'cse', 90), (2, 'kamal', 'cst', 70), (3, 'raju', 'eee', 98), (4, 'ramu', 'ece', 89)]

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('day9').getOrCreate()
data = ([
    (1,'naveen'),
    (2,'kamal'),
    (3,'babaulu'),
    (4,'lohith')
])
columns = ['id','name']
df = spark.createDataFrame(data,columns)
df.show()

+---+-------+
| id|   name|
+---+-------+
|  1| naveen|
|  2|  kamal|
|  3|babaulu|
|  4| lohith|
+---+-------+

In [10]:
#RDD Test
from pyspark.sql import SparkSession
from pyspark.sql import *
spark = SparkSession.builder.appName('day9').getOrCreate()
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6])
print(rdd.collect())
# DataFrame Set
data = [
    (1,'naveen'),
    (2,'kamal'),
    (3,'babaulu'),
    (4,'lohith')
]
columns = ['id','name']
df = spark.createDataFrame(data,columns)
df.show()

[1, 2, 3, 4, 5, 6]
+---+-------+
| id|   name|
+---+-------+
|  1| naveen|
|  2|  kamal|
|  3|babaulu|
|  4| lohith|
+---+-------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import*
spark = SparkSession.builder.appName('day').getOrCreate()
data = spark.sparkContext.parallelize([
    (1,'naveen','cse',90),
    (2,'kamal','cst',78),
    (3,'charan','eee',99),
    (4,'mano','ece',98)
])
result = data.filter(lambda x:[3]>78)
print(result.collect())

In [16]:
rdd = spark.sparkContext.parallelize([
    ('naveen',98),
    ('rohan',78),
    ('naveen',67),
    ('naveen',89)
])
result = rdd.reduceByKey(lambda x,y:x+y)
print(result.collect())

[('naveen', 254), ('rohan', 78)]